/*
    This file contains styling for the home page
*/

/* Main area takes up remaining vertical space */
.main {
    flex: 1;
}

/* Map grid layout with spacing between cards */
.map-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 50px;
    margin: 25px;
}

/* Stack map cards vertically on smaller screens */
@media only screen and (max-width: 750px) {
    .map-container {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
}

/* Map card layout and styling */
.map-container .card {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Card title positioned on top of image */
.map-container .card .title {
    position: absolute;
    z-index: 1;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Smooth transintion for image */
.map-container .card .image {
    transition: transform .5s;
}

/* Scale up image on card hover */
.map-container .card:hover .image {
    transform: scale(1.3);
}
